body {
  font-size: 14px;
  font-family: var(--main-fonts);
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: #fff;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;

  height: auto;
}
.list {
  /* сброс отступов списков */
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  color: var(--link-color);
  text-decoration: none;
}

.link:hover,
.link:focus {
  color: var(--change-link-color);
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
